%header.page-header
  %h2= t('settings')
%main
  .raw
    .col-md-6
      %h4= t('billing')
      =render partial: 'address_form',
              locals: { type: :billing, user: resource }
    .col-md-6
      %h4= t('shipping')
      =render partial: 'address_form',
              locals: { type: :shipping, user: resource }